.but1 {
    border-radius: 50px;
    padding: 12px;
    margin-left: 10px;
    background-color: rgb(173, 173, 173);
}

.fa {
    font-size: 20px;
    color: rgb(63, 72, 255)
}

.but1 :active {
    color: green;
}

input {
    border-radius: 10px;
    width: 300px;
}

p {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    font-family: "Open Sans";
}

.container-darker {
    border: 1px solid #dedede;
    background-color: #1a1a1a;
    border-color: rgb(77, 75, 75);
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 60%;
    color: white;
}

.container {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin-left: 60%;
    margin-right: 10px;
    margin-bottom: 2px;
    border-color: rgb(77, 75, 75);
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.sender {
    color: hotpink;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(70, 69, 69);
    margin: 1em 0;
    padding: 0;
}

.msg-box {
    text-align: center;
}